@import "mocha.css";

/* Reset all styles */
* {
  border: none;
  border-radius: 0;
  min-height: 0;
  margin: 0;
  padding: 0;
}

/* The whole bar */
#waybar {
  color: white;
  font-family: "Geist Mono";
  font-weight: 400;
  font-size: 18px;
  /* background-color: shade(@base, 0.5); */
  background-color: transparent;
}

/* Right modules */
#battery,
#clock,
#disk,
#cpu,
#memory,
#network,
#pulseaudio,
#temperature {
  padding-left: 10px;
  padding-right: 10px;
  margin-left: 4px;
  color: @text;
  border-top: 4px solid @yellow;
}

/* Workspace buttons */
#workspaces button {
  padding: 5px;
  color: @text;
  margin-right: 4px;
  border-top: 4px solid @text;
}

#workspaces button:hover {
  box-shadow: inherit;
  text-shadow: inherit;
  background: inherit;
}

/* focused = sway, active = hyprland */
#workspaces button.focused,
#workspaces button.active {
  color: @sapphire;
  border-color: @sapphire;
}

#workspaces button.urgent {
  color: @maroon;
  border-color: @maroon;
}

/* Center modules (not applied to the laptop monitor) */
#waybar:not(.eDP-2) .modules-center {
  margin-top: 4px;
  padding-right: 5px;
  padding-left: 5px;
  background-color: shade(@base, 0.75);
  border-radius: 10px;
  border: 2px solid @surface1;
}

#tray,
#idle_inhibitor,
#custom-power-button {
  border-color: transparent;
  padding: 5px;
}

#custom-power-button {
  padding-right: 0;
}

/* Right modules */
#network {}

#network.disconnected {
  color: @maroon;
  border-color: @maroon;
}

#pulseaudio {}

#pulseaudio.muted {
  color: @maroon;
  border-color: @maroon;
}

#disk {}

#cpu {}

#cpu.warning {
  color: @peach;
  border-color: @peach;
}

#cpu.critical {
  color: @maroon;
  border-color: @maroon;
}

#temperature {}

#temperature.critical {
  color: @maroon;
  border-color: @maroon;
}

#battery {}

#battery.warning {
  color: @peach;
  border-color: @peach;
}

#battery.critical {
  color: @maroon;
  border-color: @maroon;
}

#clock.time {}

/* Custom styles for DP-1 (external monitor) */
#waybar.DP-1 {
  font-size: 24px;
}
