@import "mocha.css";

/* Reset all styles */
* {
  border: none;
  border-radius: 0;
  min-height: 0;
  margin: 0;
  padding: 0;
}

/* The whole bar */
#waybar {
  color: white;
  font-family: "Geist Mono";
  font-weight: 400;
  font-size: 18px;
  /* background-color: shade(@base, 0.5); */
  background-color: transparent;
}

/* Each module */
#battery,
#clock,
#disk,
#cpu,
#custom-keyboard-layout,
#memory,
#network,
#pulseaudio,
#temperature,
#idle_inhibitor,
#tray {
  padding-left: 10px;
  padding-right: 10px;
  color: @text;
  border-top: 4px solid @text;
}

/* Workspace buttons */
#workspaces button {
  padding: 5px;
  color: @text;
  border-top: 4px solid @text;
}

#workspaces button:hover {
  box-shadow: inherit;
  text-shadow: inherit;
  background: inherit;
}

#workspaces button.focused {
  color: @sapphire;
  border-color: @sapphire;
}

#workspaces button.urgent {
  color: @maroon;
  border-color: @maroon;
}

/* Center modules (not applied to the laptop monitor) */
#waybar:not(.eDP-2) .modules-center {
  margin-top: 4px;
  border-radius: 100px;
  padding-right: 5px;
  padding-left: 5px;
  background-color: shade(@base, 0.75);
}

#tray,
#idle_inhibitor {
  border-color: transparent;
  padding: 5px;
}

/* Right modules */
#network {
  border-color: @mauve;
}

#network.disconnected {
  color: @maroon;
  border-color: @maroon;
}

#pulseaudio {
  border-color: @yellow;
}

#pulseaudio.muted {
  color: @maroon;
  border-color: @maroon;
}

#disk {
  border-color: @green;
}

#cpu {
  border-color: @teal;
}

#cpu.warning {
  color: @peach;
  border-color: @peach;
}

#cpu.critical {
  color: @maroon;
  border-color: @maroon;
}

#temperature {
  border-color: @lavender;
}

#temperature.critical {
  color: @maroon;
  border-color: @maroon;
}

#battery {
  border-color: @sky;
}

#battery.warning {
  color: @peach;
  border-color: @peach;
}

#battery.critical {
  color: @maroon;
  border-color: @maroon;
}

#clock.time {
  border-color: @blue;
}

/* Custom styles for DP-1 (external monitor) */
#waybar.DP-1 {
  font-size: 24px;
}
